<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script>
  function logout() {
    // Send a POST request to '/api/logout'
    fetch('/api/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      // Optionally, include any data in the request body
      // body: JSON.stringify({ key: value })
    })
    .then(response => {
      // Handle the response
      if (response.ok) {
        // Logout successful
        alert('Logout successful!');
        document.location.replace('/');
      } else {
        // Logout failed
        alert('Logout failed!');
      }
    })
    .catch(error => {
      // Handle any errors
      console.error('Error:', error);
    });
  }
</script>
</head>

<body> <header>
   <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
    <a href="#" onclick="logout()">Log Out</a>
    {{else}}
   <a href="/login">Log In</a>
   {{/if}}
  </nav>
 
    <h1>Tech Blog</h1>
  </header>
 
  <main>
    
    <div class="centered-div">
      {{{body}}}
    </div>
  </main>
</body>
<script>
  
</html>