<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body> <header>
   <nav>
    <a href="/">Home</a>
    <a href="/Dashboard">Dashboard</a>
    {{#if req.session.logged_in}}
    <a href="/logout">Log Out</a>
    {{/if}}
    {{#unless req.session.logged_in}}
   <a href="/login">Log In</a>
   {{/unless}}
  </nav>
 
    <h1>Tech Blog</h1>
  </header>
 
  <main>
    <aside>
      <h2>Enjoy the post</h2>
    </aside>
    <div class="centered-div">
      {{{body}}}
    </div>
  </main>
</body>

</html>