{{#each posts as |post|}}
<aside>
      <h2>{{post.user.username}}'s Dashboard</h2>
</aside>
<div class="blogpost-div">
  <!--Is our Menu for selection here? -->
      <div class="card">
          <h3 class="card-title">{{post.title}}<h3>
          <h3 class="card-user">{{post.user.username}}</h3>
          <p class="card-body">
              {{post.text}}
          </p>
          class
      </div>
  {{/each}}
</div>