{{#each posts as |post|}}
<aside>
      <h2>{{post.user.username}}'s Dashboard</h2>
</aside>
<div class="blogpost-div">
  <!--Is our Menu for selection here? -->
      <div class="card {{post.id}}">
          <h3 class="card-title">{{post.title}}<h3>
          <p class="card-body">
              {{post.text}}
          </p>
           <div class="button-container">
    <button class="view">View Comments</button>
    <button class="update">Update Post</button>
    <button class="delete">Delete Post</button>
  </div>
      </div>
  {{/each}}
</div>