<h2>Post Update</h2>
<p>Make the corrections to your post in the blanks below and hit the "Update" button</p>

<form class="form create-form">
  <div class="form-group">
    <label for="Title">Title</label>
    <input class="form-input" type="text" id="spark-title" value="{{post.title}}">
  </div>
  <div class="form-group">
    <label for="post-text">Post Text</label>
    <textarea class="form-input" id="post-text" rows="20">{{post.text}}</textarea>
  </div>
</form>
 
 
  
   <div class="form-group">
    <button class="btn create" id ="create" type="button">Update</button>
</div>
</div>
</form>
<script src="/js/update.js"></script>

